PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://praweenanuwangi_db_user:<db_password>@cluster0.nlp0v5g.mongodb.net/working-memory-backend?retryWrites=true&w=majority&appName=Cluster0
DNS_SERVERS=8.8.8.8,1.1.1.1